{% load static %}
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>

    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

</head>

<body>

    <!-- NAVBAR-->
    <nav class="navbar is-fixed-top" style="box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.25);">

        <div class="navbar-brand">
            <a href="#" class="navbar-burger toggler" style="margin-left: 0;">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <a href="#" class="navbar-item">
                <img src={% static 'img/IFP_logo.png' %}>
            </a>
            <a href="#" class="navbar-burger nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="#" class="navbar-item">My Profile</a>
                <a href="#" class="navbar-item">Missions</a>
                <a href="#" class="navbar-item">Projects</a>
                <a href="#" class="navbar-item">Leave</a>
            </div>
        </div>
        
    </nav>
    <!-- NAVBAR-->

 <div class="columns  is-centered">
        {% block content %}
        {% endblock %}
        <!--[if lt IE 8]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
            </p>
        <![endif]-->
</div>

 </body>
</html>
