{% extends "base.html" %} 
{% load static %} 
{% block content %}



    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'static/css/main.css' %}" />

    <!-- JS -->
    <script src="{% static 'static/js/dashboard.js' %}"></script>
    {% endblock content %}
  </div>
</div>
